{% extends 'events/base.html' %}
{%block content%}

<center>
    <h2>Events List</h2>
</center>
<br>
<b align="left">Note - In case Your Event is Not Approved Please contact the venue owner Please!</b>
<center>
    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Event Date</th>
                <th scope="col">Event Name</th>
                <th scope="col">Approved</th>
            </tr>
        </thead>
        {%for event in event_list%}
        <tr>
            <td align="left">{{event.event_date}}</td>
            <td>
                {%if event.days_left < 0 %}
                <del><a href="{% url 'show_event'  event.id %}" style="text-decoration: none;">{{event}}</a></del>
                {%else%}
                <a href="{% url 'show_event'  event.id %}" style="text-decoration: none;">{{event}}</a>
                {%endif%}
            </td>
            {%if event.approved %}
            <td>&#9745 </td>
            {%else%}
            <td>&#9747</td>
            {%endif%}
            {% if user.is_authenticated and event.manager == user %}

            <td align="right">
                <a href="{% url 'update-event'  event.id %}" style="text-decoration: none;"
                    class="btn btn-outline-secondary btn-sm"> Update</a>
                <a href="{% url 'delete-event'  event.id %}" style="text-decoration: none;"
                    class="btn btn-outline-danger btn-sm"> Delete</a>
            </td>
            {%else%}
            <td align="right"></td>
            {%endif%}
        </tr>
        {%endfor%}
    </table>

    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if event_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1"> &laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{event_list.previous_page_number}}">Previous</a>
            </li>
            {% endif %}

            {% for i in event_list.paginator.page_range %}
            {% if i == event_list.number %}
            <li class="page-item disabled"><a class="page-link" href="#"> {{event_list.number}}
                </a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
            {%endif%}
            {%endfor%}
            {% if event_list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{event_list.next_page_number}}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{event_list.paginator.num_pages}}"> Last &raquo </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</center>
{%endblock%}