{% extends 'events/base.html' %}
{%block content%}
<center>
    {% if user.is_authenticated %}
    <br>
    <div class="container">
       <h3> Hello {{name|title }}!!</h3>

    </div>
    <br>
    {%endif%}
    <br>
    <b> Calendar for {{year}} / {{month}} </b> <br><br>
    <div class="shadow-lg p-4 mb-5 bg body rounded" style="background: #ffff; max-width: 300px;">
        <center>

            {{cal|safe}} <br>
        </center>
    </div>
</center>
<br><br><br>
{% if user.is_authenticated %}
<div class="card">
    <div class="card-header">
        <b> Events This Month</b>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ venue }}</h5>
        <p class="card-text">
            {%if past_event_list or upcoming_event_list %}
            {%for event in past_event_list%}
            {{event.event_date}} - <del> <a href="{% url 'show_event'  event.id %}"
                style="text-decoration: none;">{{event}}</a> </del>
            <br>
            {%endfor%}

            {%for event in upcoming_event_list%}
            {{event.event_date}} -  <a href="{% url 'show_event'  event.id %}"
                style="text-decoration: none;">{{event}}</a>
            <br>
            {%endfor%}
            {%else%}
                No Events This Month
            {%endif%}
        </p>
    </div>
</div>
{%endif%}
<br>

{%endblock%}