<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home' %}">Home</a>
        

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {%if  user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Events
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item " href="{%url 'list-events' %}">Event List</a>
                        <a class="dropdown-item " href="{%url 'add-event'%}">Add New Event</a>
                        <a class="dropdown-item " href="{%url 'my_events'%}">My Events</a>
                        <a class="dropdown-item " href="{%url 'search_events'%}">Search Events</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Venues
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item " href="{%url 'venues-list' %}">Venue List</a>
                        <a class="dropdown-item " href="{%url 'add-venue'%}">Add New Venue</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item " href="{%url 'venue_txt' %}">Venues.txt
                                File</a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="{%url 'venue_csv'%}">Venue.csv
                                File</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{%url 'venue_pdf'%}">Venue.pdf file</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'approve_events' %}">Event Approval</a>
                </li>

                {%endif%}
            </ul>
            {% if user.is_authenticated %}
            <form class="d-flex" method=POST action="{% url 'search-venues' %}" style="padding-right: 0.7mm;">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search"
                    name="searched_data">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div style="color: white; padding: 0.5rem 0.5rem;"> {{user.first_name}} </div>

            <a class="nav-link active" aria-current="page" href="{% url 'logout-user' %}"
                style="color: white; padding: 0.5rem 0.5rem">Logout</a>
            {% else %}
            <a class="nav-link active" aria-current="page" href="{% url 'admin:login' %}"
                style="color: white; padding: 0.5rem 0.5rem">Admin</a>

            <a class="nav-link active" aria-current="page" href="{% url 'register-user' %}"
                style="color: white; padding: 0.5rem 0.5rem">Signup</a>

            <a class="nav-link active" aria-current="page" href="{% url 'login-user' %}"
                style="color: white; padding: 0.5rem 0.5rem">Login</a>
            {% endif %}



        </div>
    </div>
</nav>