{% extends 'events/base.html' %}
{%block content%}
<div class="card">
    <div class="card-header">
        {%if searched_data %}
        Search Result for : <b> {{searched_data}} </b><br>
        {%else%}
        Search Events ...
        {%endif%}
    </div>
    <div class="card-body">
        <form method=POST action="{% url 'search_events' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search Events" aria-label="Search"
                name="searched_data">
            <br>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

{%if searched_data %}
{%for event in events%}

<div class="card">
    <div class="card-header">
        <b>{{event}}</b>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ event.venue }}</h5>
        <p class="card-text">
        <ul>
            <li>Date - {{ event.event_date }}</li>

            <li>Manager Name - {{ event.manager }}</li>
            <li>Description - {{ event.description }}</li>
            <li> Attendees -
                {% for attendees in event.attendees.all %}
                {{attendees}}
                {%endfor%}
            </li>
            <br>
        </ul>

        </p>

    </div>
    {% if user.is_authenticated and event.manager == user %}

    <div class="card-footer text-muted">
        <a href="{%url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
        <a href="{%url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
    </div>
    {%endif%}
</div>
<br><br>

{%endfor %}
{%else%}
<br>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Search Box is Empty
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endif%}

{%endblock%}