{% extends 'events/base.html' %}
{%block content%}

{% if user.is_authenticated %}
<h1>Add Event</h1>
<br><br>
{%if submitted %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Event Added Successfully.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<form action="" method=POST>
    {% csrf_token %}

    {{form.as_p}}

    <input type="submit" value="Submit" class="btn btn-secondary">
</form>
{%endif%}

{% else %}
<div class="alert alert-danger" role="alert">
    <h5>
        Access Denied !! You Need to Login First
    </h5>

</div>
<a href="{% url 'login-user' %}" class="btn btn-outline-primary btn"> Login</a>
{%endif%}
{%endblock%}