{% extends 'events/base.html' %}
{%block content%}
<center>
    {%if searched_data %}
    <h1>Search Result for {{searched_data}}</h1><br>
    <table class="table table-hover table-striped table-bordered ">
        {%for venue in venues%}
        <tr>
            <td>
                <a href="{% url 'show-venue'  venue.id %}">{{venue}}</a><br><br>
            </td>
        </tr>
        {%endfor%}
    </table>
    {%else%}
    <h1>You forgot to Search for Venue </h1><br>
    {%endif%}
</center>
{%endblock%}