{% extends 'events/base.html' %}
{%block content%}
<center>
    <h2>Venues</h2><br>
    <table class="table table-hover">
        {%for venue in venues_list%}
        <tr>
            <td>
                <a href="{% url 'show-venue'  venue.id %}" style="text-decoration: none;">{{venue}}</a>
            </td>
            <td align="right">
                <a href="{% url 'update-venue'  venue.id %}" style="text-decoration: none;"
                    class="btn btn-outline-secondary btn-sm"> Update</a>
                <a href="{% url 'delete-venue'  venue.id %}" style="text-decoration: none;"
                    class="btn btn-outline-danger btn-sm"> Delete</a>
            </td>
        </tr>
        {%endfor%}
    </table>
</center>

{%endblock%}