{% extends 'events/base.html' %}
{%block content%}
{% if user.is_authenticated %}
<center>
    <h2>Update Venue </h2><br>
    <form action="" method=POST enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Update" class="btn btn-outline-success">

    </form>


</center>
{% else %}
<div class="alert alert-danger" role="alert">
    <h5>
        Access Denied !! You Need to Login First
    </h5>

</div>
<a href="{% url 'login-user' %}" class="btn btn-outline-primary btn"> Login</a>
{%endif%}
{%endblock%}